<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orbital.milestone2">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/orbital_logo"
        android:roundIcon="@drawable/orbital_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Homepage"
            android:label="Homepage"></activity>
        <activity
            android:name=".MainActivity"
            android:label="Pref1" />
        <activity
            android:name=".Registration"
            android:label="Registration" />
        <activity
            android:name=".Information"
            android:label="Information" />
        <activity
            android:name=".Rankings"
            android:label="Rankings" />
        <activity
            android:name=".Setting"
            android:label="Setting" />
        <activity
            android:name=".Scores"
            android:label="Scores" />
        <activity
            android:name=".Score"
            android:label="Score" />
        <activity
            android:name=".IndividualActivity"
            android:label="IndividualActivity"/>
        <activity
            android:name=".Splash"
            android:label="IHGenius">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pref1"
            android:label="IHGenius" >
            <intent-filter>
                <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>